
@font-face {
    font-family: logo;
    src: url(../fuentes/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: fuentetitulos;
    src: url(../fuentes/Urban\ Shadow\ Sans\ Serif.otf);
}


body {

    background-color: bisque;
}

main {
    margin: 40px 0;

}

/* ---Header--- */

header {
    background-color: rgb(172, 73, 73);
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 4vw;
}

.navbar-nav .nav-link {
    padding: 0 15px;
    font-size: 1.3rem;
}

.navbar-brand {
    font-family: logo;
    font-size: 29px;
    font-weight: 900;

}

a.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: large;

}

a.nav-link.active:hover {
    color: white;
}

a.nav-link:hover {
    color: white;
}

.btn {
    border: 1px solid black;
    color: black;
    font-family: "Bebas Neue", sans-serif;
}

.btn:hover {
    background-color: beige;

}




/* ---Main--- */
.seccion-inicio {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}

.tit-inicio {
    font-size: 50px;
    font-family: fuentetitulos;
}


.contenedor-inicio {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(199, 201, 203);
    text-align: center;
    border-radius: 10px;

}

.p-inicio {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 25px;
}

.seccion-cont {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formulario input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.formulario textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.boton {
    background-color: rgb(172, 73, 73);
    color: white;

}


article {
    display: flex;
}


.p-noticias {

    font-size: 27px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

article img {
    width: 20%;
    height: 300px;


}



/* --- Footer --- */
footer {
    background-color: rgb(172, 73, 73);
    color: white;
    padding: 20px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

footer a i {
    color: black;
    font-size: 32px;
}

footer a i:hover{
    color: white;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.footer-logo {
    flex: 0 0 auto;
}

.footer-logo img {
    width: 50px;
    height: auto;
    display: block;
}

.footer-social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;

}



@media (max-width: 768px) {
    .footer-contacto {
        text-align: center;
        width: 100%;
    }

    .footer-social {
        justify-content: center;
        width: 100%;
    }

    .footer-logo {
        text-align: center;
        width: 100%;
    }
}